<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Make your own text!</div>
    <p>
      Give a prompt (e.g "It was a cold day when...") and get an entire novel!
      (The text probably won't be gramatically accurate)
    </p>
    <div class='content'>
      <form>
          Prompt: <input type="text" name="text"><br>
      </form>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='generate()'>Generate text</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
